<<<<<<< Upstream, based on origin/Prod
<<<<<<< Upstream, based on origin/Prod

body {
	background: #FFFFFF url(../images/aabg.jpg) repeat;
	font-size: 1em;
=======
body{
	background: #000000 url(images/bg.jpg) repeat-x;
>>>>>>> 6a6ffc6 Multiple Changes to allow for additional functionality for slider game
=======

body {
	background: #FFFFFF url(../images/aabg.jpg) repeat;
	font-size: 1em;
>>>>>>> 5a20809 Update for slider - added functions to enable words and images for interface
}

table 
{
	border: solid blue 2px;
}

td 
{
	margin: 0px;
	padding: 0px;
	border: solid 2px;
	width: 90px;
	height: 90px;
	text-align: center;
	font-size: .9em;
	background: #FFFFFF;
}

td:hover
{
	background-color: #FFFF99;
}

td img
{
	margin: 0px;
	padding: 0px;
	width: 90px;
	height: 90px;
}

td img:hover
{
	opacity: 0.5;
}

td.graysq 
{
	background-color: gray;
}

a 
{
	text-decoration: none;
}

legend
{
	color: gray;
}

fieldset.gameSettings {
    background: none repeat scroll 0 0 #ffffff;
    font-size: 1em;
    margin: 20px;
    max-width: 710px;
    padding: 5px;
}

#reset {
    background-color: red;
    border: medium none;
    color: white;
    margin: 5px;
    padding: 5px;
    vertical-align: top;
}

#portal {
    background-color: purple;
    border: medium none;
    color: papayawhip;
    margin: 5px;
    padding: 5px;
    vertical-align: top;
}

div#gameHolder, div#counter 
{
	margin: 20px;
}

#MoveCounter 
{
	color: red;
}

span.nonwraplabels 
{
	padding: 5px;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
}

input#Size, input#Offset
{
	width: 40px;
}


select option
{
	padding: 0px 10px;
<<<<<<< Upstream, based on origin/Prod
}
=======
}
>>>>>>> 5a20809 Update for slider - added functions to enable words and images for interface
