body{
	background: #000000 url(images/bg.jpg) repeat-x;
}

table 
{
	border: solid blue 2px;
}

td 
{
	margin: 0px;
	padding: 0px;
	border: solid 2px;
	width: 80px;
	height: 80px;
	text-align: center;
	font-size: 1em;
}

td.graysq 
{
	background-color: gray;
}

a 
{
	text-decoration: none;
}

fieldset.gameSettings
{
	max-width: 825px;
}

div#counter 
{
	margin: 20px 0px;
}

#MoveCounter 
{
	color: red;
}

span.nonwraplabels 
{
	padding: 5px;
	white-space: nowrap;
	overflow: hidden;
}