@CHARSET "ISO-8859-1";

body
{
	background-color: purple;
}

h1.nav_right
{
	position: relative;
	left: 300px;
}

div.nav_right
{
	position: relative;
	left: 300px;
}
div.nav_lang
{
	position: relative;
	left: 700px;
}
div.nav_eng
{
	position: fixed;
	left: 50px;
}

img.defaultImage
{
	height: 400px;
	width: 300px;
}