table {
	margin: 0px;
	padding: 0px;
	border-width: 0px;
}

td {
	margin: 2px;
	padding: 2px;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	text-align: center;
	height: 100px;
	width: 100px
}

a {
	text-decoration: none;
}